.description {
  margin-bottom: 105px;
  position: relative;
}
.subtitle {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  color: #292929;
  margin-bottom: 63px;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.linear {
  position: absolute;
  z-index: -1;
}
.linear:nth-child(1) {
  bottom: 150px;
  left: -190px;
}
.linear:nth-child(2) {
  top: 200px;
  right: -180px;
}

@media screen and (max-width: 810px) {
  .wrapper {
    text-align: center;
  }
  .subtitle {
    text-align: center;
    font-size: 30px;
  }
  .linear:nth-child(2) {
    display: none;
  }
}
