.cart hr {
  margin-bottom: 15px;
  border: solid 1px #292929;
}
.cart {
  text-align: left;
  width: 260px;
}
.text {
  width: 220px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 26px;
  font-style: normal;
  color: #292929;
  line-height: 30px;
}

@media screen and (max-width: 560px) {
  .cart {
    margin: 0 auto 55px ;
    text-align: center;
  }
}
