.training {
  padding: 100px 0 80px;
  position: relative;
}
.title {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  color: #292929;
}
.linear {
  position: absolute;
  z-index: -1;
}
.linear:nth-child(1) {
  left: 0;
  top: 0;
}
.linear:nth-child(2) {
  bottom: 0;
  right: 0;
}
.linear:nth-child(3) {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.training hr {
  margin: 40px 0;
  background: #292929;
  height: 5px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 95px;
}
.description {
  max-width: 522px;
}
.subtitle {
  font-family: "Gilroy", sans-serif;
  font-size: 30px;
  font-style: normal;
  color: #ff7a00;
  font-weight: bold;
  margin-bottom: 20px;
}
.subtitle strong {
  color: #292929;
  font-weight: 500;
}
.text {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #949494;
}
.courses {
  width: 579px;
}
.list {
  display: flex;
  flex-direction: column;
}
.item {
  margin-bottom: 14px;
  border-bottom: solid 1px #949494;
  padding: 10px 0;
}
.item p {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 26px;
  font-style: normal;
  color: #949494;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    margin-bottom: 40px;
  }
  .subtitle {
    text-align: center;
  }
  .courses {
    width: 409px;
  }
  .title {
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  .courses {
    width: 320px;
  }
  .text {
    text-align: center;
  }
  .list {
    padding: 0 15px;
  }
}
